@import url(./root/style.css);
.partners__section {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.partners__container {
    display: flex;
    flex-direction: column;
}
.partners__title {
    display: flex;
    flex-direction: column;
}
.partners-subtitle {
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 5px;
    text-align: center;
}
.partners-title {
    font-family: var(--primary-font);
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 16px;
}
.partners-text {
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 16px;
}
.ui__container {
    display: flex;
    flex-direction: column;
}
.sponsors__container {
    display: flex;
    flex-direction: row;
    gap: clamp(0.625rem, -18.125rem + 30vw, 4.375rem);
    margin-top: 55px;
    flex-wrap: wrap;
    justify-content: center;
}
.button__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 55px;
}
.sponsors-button {
    height: 48px;
    width: 170px;
    background-color: #000;
    border: none;
    font-family: var(--primary-font);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
}